---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - pingcap.com.pingcap.com
  resources:
  - tiflowclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pingcap.com.pingcap.com
  resources:
  - tiflowclusters/finalizers
  verbs:
  - update
- apiGroups:
  - pingcap.com.pingcap.com
  resources:
  - tiflowclusters/status
  verbs:
  - get
  - patch
  - update
